* {
    background-color: #ceb3d5; 
}

.title {
    margin-top: 50px;
    text-align: center;
    font-family: 'Gill Sans';
    color: #740133;
    
      
}

.subtitles {
  font-family: 'Gill Sans';
  text-align: center;
  font-style: bold;
  font-size: 20px;
}

img {
    height: auto;
    width: 200px;
    display:block;
    margin-left:auto;
  margin-right: auto;
}

.caption {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
  margin-bottom: 50px;

}

.ingredients, .instructions {
    font-family: sans-serif;
  text-align: center;
  
 
    
}

.ingredients {
  list-style-type: none;
  
}

.instructions {
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
}

.recipes {
  border: 2px solid #740133;
  margin-top: 50px;
  margin-left: 600px;
  margin-right: 600px;
  margin-bottom: 200px;
  text-align: center;
  padding: 50px 0;
  list-style-type: none;
  
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #740133
}

.food {
  width:200px;
  height: auto;
  border: 2px solid
}